<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

      <div class="section-title mb-lg-4">
        <h2>About</h2>
        <p>I'm an aspiring Web-developer. If you take time to scrool through my pages, you will see examples of my work, my schooling, my certificates and much more. I would love to find 
        fullfiling carrer in the development sector and am doing everything I can to reach the goal. I have worked on a variety of projects that have allowed me to put what I've learned in practical sense.</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="assets/images/profile-img.png" class="img-fluid img-about" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>UI/UX Designer &amp; Web Developer.</h3>
          <p class="font-italic mb-lg-4 mt-lg-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Birthday:</strong> 6 May 2000</li>
                <li><i class="icofont-rounded-right"></i> <strong>Website:</strong> In Progress</li>
                <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> 7355732435</li>
                <li><i class="icofont-rounded-right"></i> <strong>City:</strong> Kanpur, U.P., INDIA</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> 21</li>
                <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> Pursuing Bachelor</li>
                <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> prathutripathee@gmail.com</li>
                <li><i class="icofont-rounded-right"></i> <strong>Freelance:</strong> Available</li>
              </ul>
            </div>
          </div>
          <!-- <p class="d-xl-none">
            Officiis eligendi itaque labore et dolorum mollitia officiis optio vero.
          </p> -->
        </div>
      </div>

    </div>
  </section>
  
  <!-- End About Section -->
