/*--------------------------------------------------------------
# certificate
--------------------------------------------------------------*/
.certificate .icon-box {
    margin-bottom: 20px;
  }
  
  .certificate .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: #149ddd;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid #149ddd;
  }
  
  .certificate .icon i {
    color: #fff;
    font-size: 24px;
  }
  
  .certificate .icon-box:hover .icon {
    background: #fff;
  }
  
  .certificate .icon-box:hover .icon i {
    color: #149ddd;
  }
  
  .certificate .title {
    margin-left: 80px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .certificate .title a {
    color: #343a40;
  }
  
  .certificate .title a:hover {
    color: #149ddd;
  }
  
  .certificate .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
  }
  